* {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: fit-content;
  margin: auto;
}

.cell {
  border: 2px solid white;
  color: white;
  background-color: #393232;
  border-collapse: collapse;
  width: 50px;
  height: 50px;
  padding: 3px;
}